#Rectangle {
  width: 500px;
  height: 600px;
  background-color: white;
  top: 50%;
  left: 50%;
  /* Use This Trick In Case You Need To Center Something */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5%;
}
#sign-in {
  font-family: "Roboto Mono", monospace;
}
html,
body {
  background-image: linear-gradient(to top right, purple, cyan);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
}
#checkbox {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

#forgot-password {
  margin-left: 70px;
}
#Email {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 16px;
  border-color: black;
}

#Password {
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 16px;
  border-color: black;
}

#Sign-In-Button {
  margin-top: 70px;
  color: white;
  background-color: black;
  border-radius: 16px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
